@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
input[type=button] {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}
body #container {
  margin: 0 auto;
  background-color: hsl(219deg, 30%, 18%);
}
body #container header {
  margin: 0 auto;
  width: 80vw;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
}
body #container header #logo {
  width: 50%;
  height: 100%;
}
body #container header #logo img {
  width: 90px;
  height: 30px;
}
body #container header ul {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
body #container header ul li {
  color: hsl(0deg, 0%, 100%);
  opacity: 0.5;
  list-style: none;
  margin: 0 10px;
}
body #container header ul li:hover {
  opacity: 1;
}
body #container #landing {
  width: 70vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: hsl(0deg, 0%, 100%);
  flex-wrap: wrap;
}
body #container #landing img {
  z-index: 6565;
  width: 300px;
  margin: 0 50px;
}
body #container #landing h3 {
  width: 50vw;
  font-size: 20px;
  text-align: center;
  z-index: 6565;
}
body #container #landing p {
  z-index: 6565;
  text-align: center;
  width: 50vw;
  font-size: 14px;
  padding: 20px;
  opacity: 0.5;
}
body #container #landing input {
  padding: 10px 40px;
  z-index: 6565;
  color: hsl(0deg, 0%, 100%);
  border-radius: 15px;
  background: hsl(198deg, 60%, 50%);
  border: none;
  cursor: pointer;
  margin: 0 30vw;
}
body #container #landing input:hover {
  background-color: hsl(176deg, 68%, 64%);
}
body main {
  width: 100%;
  background-color: hsl(218deg, 28%, 13%);
}
body main #body-landing .bgDes {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 20vh;
  height: 100vh;
}
body main #body-landing .bgMo {
  display: none;
}
body main #body-landing .fec {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}
body main #body-landing .fec p {
  font-size: 13px;
  width: 86%;
  opacity: 50%;
}
body main #body-landing .fec img {
  width: 50px;
}
body main #body-landing .fec #con-1 {
  position: relative;
  width: 50%;
  padding: 5px;
}
body main #body-landing .fec #con-2 {
  position: relative;
  width: 50%;
  padding: 5px;
}
body main #body-landing .fec #con-3 {
  position: relative;
  width: 50%;
  padding: 5px;
}
body main #body-landing .fec #con-4 {
  position: relative;
  width: 50%;
  padding: 5px;
}
body main #stay {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  color: hsl(0deg, 0%, 100%);
  align-items: center;
}
body main #stay img {
  width: 45%;
}
body main #stay .para {
  width: 45%;
}
body main #stay .para h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  width: 70%;
}
body main #stay .para p {
  font-size: 14px;
  opacity: 50%;
  margin: 15px 0;
  width: 90%;
}
body main #stay a {
  color: hsl(176deg, 68%, 64%);
  display: flex;
  align-items: center;
}
body main #stay a:hover {
  color: hsl(0deg, 0%, 100%);
  opacity: 0.5;
}
body main #stay a img {
  margin: 0 5px;
  width: 20px;
}
body main #commit {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 100px auto;
}
body main #commit > img {
  width: 50px;
  height: 60px;
  position: absolute;
  transform: translateY(-40px);
}
body main #commit > div {
  background-color: hsl(219deg, 30%, 18%);
  margin: 10px;
  padding: 30px 10px;
  border-radius: 10px;
  z-index: 55;
}
body main #commit > div img {
  width: 30px;
  border-radius: 50%;
}
body main #commit > div p {
  color: hsl(0deg, 0%, 100%);
  margin: 10px 0;
  font-size: 15px;
  width: 100%;
}
body main #commit .pro {
  display: flex;
  justify-content: space-between;
}
body main #commit .pro img {
  display: inline;
  width: 15%;
}
body main #commit .pro > div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body main #commit .pro > div span:first-of-type {
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  font-size: 13px;
}
body main #commit .pro > div span:last-of-type {
  opacity: 50%;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  font-size: 10px;
}
body main #email {
  width: 80%;
  transform: translateY(20vh);
  margin: 100px auto;
  margin-bottom: 0;
  background-color: hsl(219deg, 30%, 18%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  border-radius: 10px;
}
body main #email h2 {
  color: hsl(0deg, 0%, 100%);
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
}
body main #email p {
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  opacity: 70%;
  margin: 20px 0;
  width: 100%;
}
body main #email .email {
  display: flex;
  justify-content: space-between;
}
body main #email .email input[type=email] {
  padding: 10px;
  outline: none;
  border-radius: 15px;
  border: none;
  width: 70%;
}
body main #email .email input[type=submit] {
  font-size: 15px;
  margin: 0 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: hsl(198deg, 60%, 50%);
  color: hsl(0deg, 0%, 100%);
  padding: 10px;
}
body main #email .email input[type=submit]:hover {
  background-color: hsl(176deg, 68%, 64%);
}
body #footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 200px 40px 50px;
  background-color: hsl(216deg, 53%, 9%);
}
body #footer .logo img {
  width: 100%;
}
body #footer .contact {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
body #footer .contact .location {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  width: 40%;
}
body #footer .contact .location img {
  width: 15px;
  height: 15px;
}
body #footer .contact .location p {
  display: inline-block;
  text-align: start;
  width: 90%;
  font-size: 12px;
  color: hsl(0deg, 0%, 100%);
  opacity: 0.5;
}
body #footer .contact .email {
  width: 20%;
}
body #footer .contact .email div {
  display: inline-block;
  margin: 10px 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
  opacity: 0.5;
}
body #footer .contact .email img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
body #footer .contact li {
  list-style: none;
  cursor: pointer;
  margin: 10px;
  color: hsl(0deg, 0%, 100%);
  opacity: 0.5;
}
body #footer .contact li:hover {
  opacity: 1;
}
body #footer .contact .icon i {
  color: hsl(0deg, 0%, 100%);
  opacity: 0.5;
  cursor: pointer;
}
body #footer .contact .icon i:hover {
  opacity: 1;
}

@media (max-width: 375px) {
  body #container header ul {
    width: 45vw;
  }
  body #container header ul li {
    margin: 0;
  }
  body main #body-landing .bgDes {
    display: none;
  }
  body main #body-landing .bgMo {
    display: block;
    position: absolute;
    top: 40vh;
    left: 0;
    width: 100vw;
    height: 50vh;
  }
  body #container #landing h3 {
    font-size: 15px;
    width: 100vw;
  }
  body #container #landing p {
    width: 100vw;
    font-size: 12px;
  }
  body main #body-landing .fec {
    justify-content: center;
  }
  body main #body-landing .fec #con-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px;
  }
  body main #body-landing .fec #con-1 h3 {
    width: 100%;
  }
  body main #body-landing .fec #con-1 p {
    text-align: center;
  }
  body main #body-landing .fec #con-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px;
  }
  body main #body-landing .fec #con-2 h3 {
    width: 100%;
  }
  body main #body-landing .fec #con-2 p {
    text-align: center;
  }
  body main #body-landing .fec #con-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px;
  }
  body main #body-landing .fec #con-3 h3 {
    width: 100%;
  }
  body main #body-landing .fec #con-3 p {
    text-align: center;
  }
  body main #body-landing .fec #con-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px;
  }
  body main #body-landing .fec #con-4 h3 {
    width: 100%;
  }
  body main #body-landing .fec #con-4 p {
    text-align: center;
  }
  body main #stay {
    justify-content: center;
  }
  body main #stay .para {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body main #stay .para h3,
body main #stay .para p {
    text-align: center;
  }
  body main #commit {
    flex-wrap: wrap;
  }
  body main #email {
    padding: 25px;
  }
  body main #email h2 {
    font-size: 20px;
  }
  body main #email p {
    font-size: 12px;
  }
  body main #email .email {
    flex-wrap: wrap;
    justify-content: center;
  }
  body main #email .email input[type=email] {
    width: 100%;
    margin: 10px 0;
  }
  body #footer .contact {
    flex-wrap: wrap;
  }
  body #footer .contact .location,
body #footer .contact .email,
body #footer .contact .ul1,
body #footer .contact .ul2 {
    width: 100%;
    margin: 10px 0;
  }
}/*# sourceMappingURL=style.css.map */
